In [1]:
import findspark 
findspark.init()

In [2]:
import pyspark 
from pyspark.sql import *
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.debug.maxToStringFields", 1000)
%load_ext sparksql_magic
%config SparkSql.limit=2000

In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV filcondae I/O (e.g. pd.read_csv)
import random as rd # generating random numbers
import matplotlib.pyplot as plt # basic plotting
import seaborn as sns # for prettier plots
import plotly.express as px
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [4]:
path = "d:/lge/pycharm-projects/kaggle_store_sales/input"
train_master_all = spark.read.csv(f"{path}/train_master_all.csv", inferSchema = True, header = True);train_master_all.createOrReplaceTempView("train_master_all");spark.sql("CACHE TABLE train_master_all")

DataFrame[]

In [7]:
schema = StructType([
    StructField("work_dtm16"    , StringType()),
    StructField("scenario_id"   , StringType()),
    StructField("scenario_desc" , StringType()),
    StructField("feature_src"   , StringType()),
    StructField("feature_col"   , StringType()),
    StructField("feature_sdt8"  , StringType()),
    StructField("feature_edt8"  , StringType()),
    StructField("feature_desc"  , StringType()),
    StructField("predict_col"   , StringType()),
    StructField("predict_sdt8"  , StringType()),
    StructField("predict_edt8"  , StringType()),
    StructField("auto_ml_model" , StringType()),
    StructField("model_name"    , StringType()),
    StructField("model_cfg"     , StringType()),
    StructField("store_nbr"     , StringType()),
    StructField("family2"       , StringType()),
    StructField("test_y"        , StringType()),
    StructField("predict_y"     , StringType()),
    StructField("mae"           , StringType()),
    StructField("mse"          , StringType()),
    StructField("rmse"           , StringType()),
    StructField("msle"           , StringType()),
    StructField("rmsle"           , StringType()),
    StructField("r2"           , StringType()),
    StructField("score"         , StringType()),
    StructField("fit_tm_sec"    , StringType()),
    StructField("file_nm"       , StringType()),
    StructField("memo"          , StringType())
    ])

In [8]:
path = "d:/lge/pycharm-projects/kaggle_store_sales/output"
from os import listdir
from os.path import isfile, join
path = "d:/lge/pycharm-projects/kaggle_store_sales/output/"
files = [path+f for f in listdir(path) if isfile(join(path, f))]
results = spark.read.schema(schema).json(files);results.createOrReplaceTempView("results");spark.sql("CACHE TABLE results")
#results = spark.read.json(files);results.createOrReplaceTempView("results");spark.sql("CACHE TABLE results")

DataFrame[]

In [9]:
df = spark.sql('''
select scenario_id
     , count(*) cnt
     , count(case when score > 0.81 then 1 else null end) as s90       
     , count(case when score between 0.61 and 0.80 then 1 else null end) as s70       
     , count(case when score between 0.41 and 0.60 then 1 else null end) as s50       
     , count(case when score between 0.21 and 0.40 then 1 else null end) as s30      
     , count(case when score < 0.20 then 1 else null end) as s10
     , round(sum(fit_tm_sec)/60)  as fit_tm_min
from results       
where 1=1 
and scenario_id like'%t00%'
and scenario_id like'%t001%'
and scenario_id like'%x001%'
and scenario_id like'%d001%'
and scenario_id like'%m001%'
group by scenario_id
order by scenario_id
''')
pdf = df.toPandas()
pdf.head(20)

                    scenario_id   cnt  s90  s70  s50  s30  s10  fit_tm_min
0  x001f004d001y001t001m001c001  1782  906  414  221  101  111         2.0
1  x001f005d001y001t001m001c001  1782  979  428  179   66   94         3.0
2  x001f006d001y001t001m001c001  1782  988  419  184   68   92         3.0
3  x001f007d001y001t001m001c001  1782  983  426  181   66   93         3.0
4  x001f008d001y001t001m001c001  1782  983  426  181   66   93         3.0
5  x001f009d001y001t001m001c001  1782  979  428  179   66   94         3.0
6  x001f010d001y001t001m001c001  1782  983  426  181   66   93         3.0

In [17]:
%%sparksql
select store_nbr, family2, scenario_id,score,rmsle,predict_y,test_y,r2, mae,mse,rmse,msle
from results       
where 1=1 
--and scenario_id like'x001f008d001y001t001m001c001'
and store_nbr = 1
and family2 = 1
and scenario_id like'%t001%'
--and family2 between 21 and 40
--and r2 between 0.1 and 0.3
--and rmsle between 0.3 and 0.5
order by score, cast(store_nbr as int), cast(family2 as int), rmsle 
limit 70

In [ ]:
# df = spark.sql('''
# with temp1 as (
#     select store_nbr, family2
#          , max(score) as score
#          , min(scenario_id) as scenario_id_min
#          , max(scenario_id) as scenario_id_max
#     from  (select * 
#            from results
#            where  length(predict_y) - length(replace(predict_y,',','')) + 1 > 10
#            )
#     where  1=1
#     and    scenario_id like'%t00%'
#     and    scenario_id like'%f005%'
#     and    scenario_id = replace(replace(replace(scenario_id,'t001','t002'),'d001','d003'),'d002','d004')
#     group by store_nbr, family2
#     order by cast(store_nbr as int), cast(family2 as int)
# ), temp2 as (
#     select a.store_nbr, a.family2, a.scenario_id, a.score, a.predict_y
#     from   results a,
#            temp1 b
#     where  a.store_nbr = b.store_nbr
#     and    a.family2   = b.family2
#     and    a.score     = b.score
#     order by a.store_nbr, a.family2
# ), temp3 as (
#     select a.store_nbr, a.family2, min(a.scenario_id) as scenario_id, a.score,replace(replace(replace(min(a.scenario_id),'t001','t002'),'d001','d003'),'d002','d004') as scenario_id2
#     from   temp2 a
#     where  1=1
#     --and    store_nbr = 20
#     --and    family2 = 1
#     group by a.store_nbr, a.family2, a.score
#     order by cast(a.store_nbr as int), cast(a.family2 as int), a.score
# ), temp4 as (
#     select a.store_nbr, a.family2, a.scenario_id, a.score, replace(replace(a.predict_y,'['),']') as predict_y
#     from   results a,
#            temp3 b
#     where  a.store_nbr = b.store_nbr
#     and    a.family2   = b.family2
#     and    a.scenario_id = b.scenario_id2
#     order by cast(a.store_nbr as int), cast(a.family2 as int)
# ), temp5 as (
#     select  '20170816' as date8, store_nbr, family2 ,split(predict_y,',')[0]  sales, predict_y from temp4 union all
#     select  '20170817' as date8, store_nbr, family2 ,split(predict_y,',')[1]  sales, predict_y from temp4 union all
#     select  '20170818' as date8, store_nbr, family2 ,split(predict_y,',')[2]  sales, predict_y from temp4 union all
#     select  '20170819' as date8, store_nbr, family2 ,split(predict_y,',')[3]  sales, predict_y from temp4 union all
#     select  '20170820' as date8, store_nbr, family2 ,split(predict_y,',')[4]  sales, predict_y from temp4 union all
#     select  '20170821' as date8, store_nbr, family2 ,split(predict_y,',')[5]  sales, predict_y from temp4 union all
#     select  '20170822' as date8, store_nbr, family2 ,split(predict_y,',')[6]  sales, predict_y from temp4 union all
#     select  '20170823' as date8, store_nbr, family2 ,split(predict_y,',')[7]  sales, predict_y from temp4 union all
#     select  '20170824' as date8, store_nbr, family2 ,split(predict_y,',')[8]  sales, predict_y from temp4 union all
#     select  '20170825' as date8, store_nbr, family2 ,split(predict_y,',')[9]  sales, predict_y from temp4 union all
#     select  '20170826' as date8, store_nbr, family2 ,split(predict_y,',')[10] sales, predict_y from temp4 union all
#     select  '20170827' as date8, store_nbr, family2 ,split(predict_y,',')[11] sales, predict_y from temp4 union all
#     select  '20170828' as date8, store_nbr, family2 ,split(predict_y,',')[12] sales, predict_y from temp4 union all
#     select  '20170829' as date8, store_nbr, family2 ,split(predict_y,',')[13] sales, predict_y from temp4 union all
#     select  '20170830' as date8, store_nbr, family2 ,split(predict_y,',')[14] sales, predict_y from temp4 union all
#     select  '20170831' as date8, store_nbr, family2 ,split(predict_y,',')[15] sales, predict_y from temp4
# ), temp6 as (
#     select  b.id, a.*, b.family
#     from    temp5 a, 
#             train_master_all b
#     where   a.store_nbr = b.store_nbr
#     and     a.family2   = b.family2
#     and     a.date8     = b.date8    
# ), temp7 as (
#     --select *
#     select id, sales
#     from   temp6 a
#     order by a.id, cast(a.store_nbr as int), cast(a.family2 as int), date8
# )
# select * from temp7
# ''')
# #df.show(5,False)
# pdf = df.toPandas()
# path = "d:/lge/pycharm-projects/kaggle_store_sales/output"
# pdf.to_csv(f'{path}/submission/submission_cat2007_20220426.csv', index=False)

In [ ]:
path = "d:/lge/pycharm-projects/kaggle_store_sales/output"
submission_cat2007_20220426 = spark.read.csv(f"{path}/submission/submission_cat2007_20220426.csv", inferSchema = True, header = True);submission_cat2007_20220425.createOrReplaceTempView("submission_cat2007_20220426");spark.sql("CACHE TABLE submission_cat2007_20220426")

In [ ]:
%%sparksql

select store_nbr, family2, scenario_id, score, predict_y
from   results
where  1=1
--and scenario_id = 'x003f005d003y001t002m003c001'
and    store_nbr = 1
and    family2 = 1
and    scenario_id like'%t002%'
limit 20

In [ ]:
%%sparksql
--select count(*) 
select *
from   submission_cat2007_20220426
where sales is null
order by id
limit 10

In [ ]:
%%sparksql
select * 
from   train_master_all
where  store_nbr = 20
and    family2 = 1
and date8 >= '20170816'
--and id in (3003066,3003074)
limit 5

In [ ]:
%%sparksql
select * 
from   results
where  store_nbr = 20
and family2 = 1

In [ ]:
path = "d:/lge/pycharm-projects/kaggle_store_sales/output"
pdf.to_csv(f'{path}/submission/submission_cat2007_20220425.csv', index=False)

In [ ]:
train_master_all
df = spark.sql('''
with temp1 as (
    select id,date,date10,date8,store_nbr,family2,family
    from   train_master_all
    where  date8 >= '20170816'
    order by id, store_nbr, family2
)
select *
from   temp1
order by cast(store_nbr as int)
''')
df.show(5,False)
# pdf = df.toPandas()
# pdf.to_csv(f'{path}/holidays_events_mart01.csv')

In [ ]:
spark.sql('''
select count(case when score < 0.20 then 1 else null end) as s10
     , count(case when score between 0.21 and 0.40 then 1 else null end) as s30      
     , count(case when score between 0.41 and 0.60 then 1 else null end) as s50       
     , count(case when score between 0.61 and 0.80 then 1 else null end) as s70       
     , count(case when score > 0.81 then 1 else null end) as s90       
from (
    select max(a.scenario_id) as scenario_id, a.store_nbr, a.family2, a.score 
    from   results a,
          ( select store_nbr, family2, max(score) score
            from results 
            group by store_nbr, family2
          ) b
    where a.store_nbr = b.store_nbr
    and   a.family2 = b.family2
    and   a.score = b.score
    group by a.store_nbr, a.family2, a.score
    order by a.store_nbr, a.family2, a.score
    )
''').show(2000,False)

In [ ]:
%%sparksql
select scenario_id, store_nbr, family2, score 
--select *
from results 
where 1=1
and scenario_id like'%m001%'
--and store_nbr = '1' 
--and family2 = '2'
order by substr(scenario_id,13,4), substr(scenario_id,1,4), substr(scenario_id,5,4)
limit 2

In [ ]:
%%sparksql
select *
from results 
where 1=1
--and scenario_id like'%m001%'
and scenario_id = 'x002f005d003y001t002m001c001'
and store_nbr = '1' 
and family2 = '1'
limit 20

In [ ]:
spark.sql('''
select scenario_id, count(*)
from (
    select max(a.scenario_id) as scenario_id, a.store_nbr, a.family2, a.score 
    from   results a,
          ( select store_nbr, family2, max(score) score
            from results 
            group by store_nbr, family2
          ) b
    where a.store_nbr = b.store_nbr
    and   a.family2 = b.family2
    and   a.score = b.score
    group by a.store_nbr, a.family2, a.score
    order by a.store_nbr, a.family2, a.score
     )
where score > 0.81     
group by scenario_id      
order by scenario_id      
''').show(2,False)

In [ ]:
%%sparksql

select scenario_id
     , count(*) cnt
     , count(case when score < 0.20 then 1 else null end) as s10
     , count(case when score between 0.21 and 0.40 then 1 else null end) as s30      
     , count(case when score between 0.41 and 0.60 then 1 else null end) as s50       
     , count(case when score between 0.61 and 0.80 then 1 else null end) as s70       
     , count(case when score > 0.81 then 1 else null end) as s90       
     , max(scenario_desc) as scenario_desc
     , max(feature_col ) as feature_col
     , max(feature_sdt8) as feature_sdt8
     , max(feature_edt8) as feature_edt8
     , max(predict_col ) as predict_col
     , max(predict_sdt8) as predict_sdt8
     , max(predict_edt8) as predict_edt8
     , round(sum(fit_tm_sec)/60)  as fit_tm_min
from results                                                                                                                                                                     
group by scenario_id
order by scenario_id
limit 2

In [ ]:
spark.sql('''
select auto_ml_model, count(*)
from results
where scenario_id like '%m004'
group by auto_ml_model
order by auto_ml_model
''').show(2,False)